[submodule "3rdparty/box64"]
	path = 3rdparty/box64
	url = https://github.com/fredldotme/box64.git
[submodule "3rdparty/gl4es"]
	path = 3rdparty/gl4es
	url = https://github.com/fredldotme/gl4es.git
[submodule "3rdparty/box86"]
	path = 3rdparty/box86
	url = https://github.com/fredldotme/box86.git
[submodule "3rdparty/pe-parse"]
	path = 3rdparty/pe-parse
	url = https://github.com/fredldotme/pe-parse.git
[submodule "3rdparty/SDL"]
	path = 3rdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "3rdparty/SDL_image"]
	path = 3rdparty/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "3rdparty/SDL_mixer"]
	path = 3rdparty/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
